* {
    display: flex;
}

#calculatorCont {
    height: 500px;
    width: 300px;
    background-color:lightpink;
    border: 7px solid salmon;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    height: 100px;
    width: 247px;
    background-color: lightgray;
    border: 3px solid darkgray;
    font-size: 40px;
    font-weight: 500;
    padding-right: 3px;
    justify-content: flex-end;
    align-items: flex-end;
}

#buttonsCont {
    height: 350px;
    width: 250px;
    flex-direction: column;
    margin-top: 7px;
}

#evenBtnsCont {
    height: 315px;
    width: 250px;
    flex-flow: row wrap;
    justify-content: space-between;
}

button {
    border-color: salmon;
    background-color: pink;
    height: 50px;
    width: 70px;
    padding: 2px;
    margin: 3px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

#clear {
    height: 50px;
    width: 250px;
    margin: auto;
}